{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["testing-library"],
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:testing-library/react"
  ],
  "rules": {
    "strict": ["error", "never"],
    "no-alert": "off",
    "no-unused-vars": "off",
    "testing-library/prefer-screen-queries": "off"
  },
  "overrides": [
    {
      "files": ["**/__tests__/**"],
      "settings": {
        "import/resolver": {
          "jest": {
            "jestConfigFile": "./jest.config.js"
          }
        }
      }
    }
  ]
}
